# Folder dependensi
node_modules/

z_listing/

# File Konfigurasi Sensitif & Spesifik Pengguna
# Ini akan mencegah keys.json dan settings.json terkirim ke repository
config/keys.json
config/settings.json

# Riwayat Chat Pengguna
chat_history/*
!chat_history/.gitkeep

# Logs
*.log
npm-debug.log*

# File sistem operasi
.DS_Store
Thumbs.db